div.static {
  position: static;
  border: 3px solid #73AD21;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Epilogue', sans-serif;
}

.topnav a:hover {
  background-color: #545454;
  color: white;
}

.topnav a.active {
  background-color: #e15c64;
  color: white;
}

.topnav a:visited {
	 color: white;
  }

  a:visited {
  color: #ddd;
  }

header h1 {
	margin: 0;
	padding-top: 2.5%;
	padding-bottom: 1.25%;
	padding-left: 5.4%;
	background-color: #333;
	font-family: 'Epilogue', sans-serif;
	background-image: url("../img/popcorn.svg");
	background-repeat: no-repeat;
	background-size: 6vw;
	font-size:2.25vw;
}

h1 {
  font-family: 'Epilogue', sans-serif;
  font-size:2vw;
}
h2 {
  font-family: 'Epilogue', sans-serif;
  font-size:2.5vw;
  color: #f2f2f2;
}

p {
	font-family: 'Epilogue', sans-serif;
	font-size:1.5vw;
	color: white;
}
q {
	font-family: 'Epilogue', sans-serif;
	font-size:1.5vw;
	color: white;
}
h6 {
	font-family: 'Epilogue', sans-serif;
	font-size:2vw;
	color: white;
}

body {
	font-family: 'Epilogue', sans-serif;
	background-color: #333;

}

.movie-reel-img {
	background-image: url("../img/movie2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 6vw;
	height: 250px;
}

header {
	background-color: #333;
	color: #f2f2f2;

}


/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #333;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #333;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {
  color: #e15c64;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: white;
}

.footerLeft {
	float: left;
  padding-top: 1%;
  padding-left: 2%;
}
.footerRight {
	float: right;
}

.catalog{
  z-index: -2;
	background-color: #e15c64;
	height: 600px;
	width: 100%;
	padding-top: 3%;
}
.catalogMovie {
  width: 20%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}

.aboutusblock {
border-radius: 15px;
background: #e15c64;
color: #333;
padding: 20px;
width: 40%;
height: 5%;
}

.loginblock {
border-radius: 15px;
background: #e15c64;
color: #333;
padding: 20px;
width: 40%;
font-family: 'Epilogue', sans-serif;
font-weight: bold;
}

.smallloginblock {
border-radius: 15px;
background: #e15c64;
padding: 20px;
width: 30%;
}

td {
  font-family: 'Epilogue', sans-serif;
  font-weight: bold;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #333;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */


@media screen and (max-width: 403px) {
 .topnav a {
  margin: 0;
  float: none;
  width: 100%;
}
header h1 {
	background-size: 8vw;
	margin: 0;
	padding-left: 15%;
	padding-top: 10%;
	padding-bottom: 5%;
}
}

@media screen and (max-width: 700px) {

header h1 {
	margin: 0;
	padding-left: 15%;
}
}

.error {
    color: red;
}

.success {
    color: green;
}
